@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(240, 253, 244);
}

/* chrome */
html::-webkit-scrollbar {
  display: none;
}

/* firefox */
html {
  scrollbar-width: none;
}

/* input[type='file']::file-selector-button {
  background-color: #1f56db;
  color: #ffffff;
}

input[type='file']::file-selector-button:hover {
  background-color: #1a4bbc;
  color: #ffffff;
} */

input[type='file'] {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
  display: block;
  padding: 0;
}
